body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.main-screen {
  width: 100vw; /* set width to viewport width */
  height: 100vh; /* set height to viewport height */
  overflow: hidden; /* prevent scrolling */
}

.upper-part,.lower-part {
  width: 100%; /* set width to parent element */
  height: 50vh; /* keep the same height */
}